<template>
  <div class="fzjh">
      <el-row :gutter="40">
      <el-col :span="8">
          <div class="fkbg">
              <div class="fkbgtitle"><div class="fkico"></div>MPTCP</div>
              <div class="fkimg"><img src="../../assets/ico6.png"></div>
              <el-button type="primary" class="fkbtn" @click="$router.push('/balancing/mptcp')">查看详情</el-button>
          </div>
      </el-col>
      <el-col :span="8">
          <div class="fkbg">
              <div class="fkbgtitle"><div class="fkico"></div>五元组负载均衡</div>
              <div class="fkimg"><img src="../../assets/ico7.png"></div>
              <el-button type="primary" class="fkbtn" @click="$router.push('/balancing/wuyuanzhu')">查看详情</el-button>
          </div>
      </el-col>
    </el-row>
  </div>
</template>
<script>
export default {
   data() {
    return {

    }
  },
  created() {

  },
  methods: {
  }
}
</script>

<style lang="scss" scoped>
.fzjh {
padding:40px;
  .fkbg {
      height: 340px;
      background: #1c2233;
      box-shadow: 1px 2px 20px 0px rgba(0, 0, 0, 0.3);
      border-radius: 5px;
      .fkbgtitle {
        height: 60px;padding-left:20px;
        background: #242F41;
        color:#fff;
        font-weight: bold;
        display:flex;
        align-items: center;
        .fkico {
          width: 4px;
          height: 20px;margin-right:10px;
          background: #0E8FE1;
        }
      }
      .fkimg {
        display:flex;
        align-items: center;
        justify-content: center;
        height:200px;
      }
      .fkbtn {
         background: linear-gradient(0deg,#0064A4, #15A4FF);
      border: 1px solid;
      border-image: linear-gradient(0deg, #3099DB, #77CAFF) 1 1;width:170px;margin:0 auto;display:block;
      box-shadow: 0px 1px 1px 0px rgba(4, 0, 0, 0.8), 0px 0px 7px 0px rgba(0, 0, 0, 0.19);
      }
  }
}
</style>
