<template>
  <div class="mptcp pad20">
     <div class="fkbg" style="min-height:calc(100vh - 100px)">
       <div class="fkbgtitle">
          <div class="fkico"></div>
          <div style="flex:1">MPTCP</div>
          <el-button type="primary" size="mini" class="backbtn" @click="$router.go(-1)">返回上一级</el-button>
      </div>
      <div class="pad20">

   流数量：<el-input v-model="mptcp.stremsum" style="width:200px;" placeholder="2-12之间" @blur="sumChange"></el-input>
    <div class="mar20">
          <div class="caozuo">
            <span class="caozuotitle">代理配置</span>
            <el-button type="primary" size="small" icon="el-icon-plus" @click="add">新增</el-button>
          </div>
          <div class="">
          <el-table
            :data="tableData" :header-cell-style="{background:'#F2F2F2'}"
            tooltip-effect="dark"
            style="width: 100%">
            <el-table-column prop="proxy_name" label="名称" align="center" ></el-table-column>
            <el-table-column prop="peer_ip" label="对端IP" align="center" ></el-table-column>
            <el-table-column prop="peer_port" label="对端端口号" align="center" ></el-table-column>
            <el-table-column label="操作" align="center">
              <template slot-scope="scope">
                <el-button type="text" @click="deletePro(scope.row.id)">删除</el-button>
              </template>
            </el-table-column>
          </el-table>
          </div>
          <div class="mar20 disflex">
              <div class="savebtn" @click="submitForm"><img src="../../assets/save.png">保存</div>
              <div class="clearbtn" @click="empty"><img src="../../assets/del.png">清空</div>
          </div>
      </div>
      </div>
     </div>
      <el-dialog title="新增代理" custom-class="dialogStyle"	:visible.sync="dialogVisible" width="30%" >
        <el-form :model="ruleForm"  ref="ruleForm" label-width="100px" class="demo-ruleForm">
            <el-form-item label="名称" prop="name">
              <el-input v-model="ruleForm.proxy_name"></el-input>
            </el-form-item>
            <el-form-item label="对端IP" >
              <el-input v-model="ruleForm.peer_ip"></el-input>
            </el-form-item>
            <el-form-item label="对端端口号" prop="duankou">
              <el-input v-model="ruleForm.peer_port" type="number" laceholder="请输入内容"></el-input>
            </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
             <el-button type="primary" size="small" icon="el-icon-folder-opened" @click="save">保存</el-button>
             <el-button type="primary" size="small" plain icon="el-icon-switch-button" @click="cancel">取消</el-button>
        </span>
      </el-dialog>
  </div>
</template>
<script>
import {proxyAdd,proxyEdit,proxyList,deleteProxy,delDevMptcpProxys,mptcpList,mptcpAdd,mptcpEdit,deletemptcp} from '@/api/mptcp'
import {lbproxyAdd} from "@/api/Loadbalance";
export default {
   data() {
    return {
      dialogVisible:false,
      tableData:[],
      // tableData:[
      //   {
      //     name:'DFG5GHHF',
      //     ip:'10.22.33.44',
      //     duankou:'80'
      //   },
      //   {
      //     name:'DFG5GHHF',
      //     ip:'10.22.33.44',
      //     duankou:'80'
      //   },
      //   {
      //     name:'DFG5GHHF',
      //     ip:'10.22.33.44',
      //     duankou:'80'
      //   }
      // ],
      form:{
        num:''
      },
      ruleForm: {
        proxy_name:'',
        peer_ip:'',
        peer_port:''
      },
      mptcp:{
        id:null,
        stremsum:null,
      }

    }
  },
  created() {
     this.getProxyList()
    this.getMptcpList()
  },
  methods: {
    save(){
      let regexp=/^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/
       if(!regexp.test(this.ruleForm.peer_ip)){
          this.$message({
            message: '对源IP必须是IP格式',
            type: 'error'
          })
          return
       }
       if(this.ruleForm.peer_port<0||this.ruleForm.peer_port>65535){
         this.$message({
            message: '对端端口号必须在0-65535范围之间',
            type: 'error'
          })
          return
       }
      proxyList({ proxy_name: this.ruleForm.proxy_name }).then(res => {
        debugger
        let arr = res.result;
        if (arr.length === 0){
          proxyAdd(this.ruleForm).then(response => {
            this.$message({
              message: '新增成功',
              type: 'success'
            })
            this.dialogVisible = false
            this.getProxyList()
          })
        }else {
          this.$message({
            message: '名称重复',
            type: 'error'
          })
        }
      })
     },
    deletePro(id){
      this.$confirm('是否确认删除数据项?', "警告", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      }).then(function () {
        return deleteProxy(id)
      }).then(() => {
        this.getProxyList()
        this.$message({
          message: '删除成功',
          type: 'success'
        })
      }).catch(() => {
      })
    },
    add(){
      this.ruleForm.proxy_name = ''
      this.ruleForm.peer_ip = ''
      this.ruleForm.peer_port = ''
      this.dialogVisible = true
    },
    cancel(){
      this.ruleForm.proxy_name = ''
      this.ruleForm.peer_ip = ''
      this.ruleForm.peer_port = ''
      this.dialogVisible = false
    },
    getProxyList() {
      proxyList().then(res => {
        this.tableData = res.result
        console.log(this.tableData)
      })
    },
    getMptcpList() {
      mptcpList().then(res => {
        if (res.result[0]){
          this.mptcp = res.result[0]
        }
      })
    },
    /** 提交按钮 */
    submitForm() {
      if (this.mptcp.id != null) {
        mptcpEdit(this.mptcp).then(response => {
          this.$message({
            message: '保存成功',
            type: 'success'
          })
        })
      } else {
        mptcpAdd(this.mptcp).then(response => {
          this.$message({
            message: '保存成功',
            type: 'success'
          })
        })
      }
    },
    empty(){
      let this_ = this
      this.$confirm('是否确认清空数据项?', "警告", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      }).then(function () {
        if (this_.mptcp.id !== null){
          deletemptcp(this_.mptcp.id)
          this_.mptcp.stremsum = null
        } else {
          this_.mptcp.stremsum = null
        }
        let ids = []
        for (let i = 0; i < this_.tableData.length; i++) {
          ids.push(this_.tableData[i].id)
        }
        if (ids.length > 0){
          return delDevMptcpProxys(ids)
        }else {
          return true
        }
      }).then(() => {
        this.getProxyList()
        this.$message({
          message: '清空成功',
          type: 'success'
        })
      }).catch(() => {
      })
    },
    sumChange(){
      if (this.mptcp.stremsum < 2 || this.mptcp.stremsum > 12){
        this.mptcp.stremsum = 2
        this.$message({
          message: '请输入2-12直接的数字',
          type: 'error'
        })
      }
    }
  }
}
</script>

<style lang="scss" >
.mptcp {
  .el-input__inner {
    background-color: #262f40;border:0px;color:#fff;
  }
}
</style>
