<template>
  <div class="jtly">
    <div class="fkbg" style="min-height:calc(100vh - 100px)">
       <div class="fkbgtitle">
          <div class="fkico"></div>
          <div style="flex:1">静态路由设置</div>
          <el-button type="primary" size="mini" class="backbtn" @click="$router.go(-1)">返回上一级</el-button>
      </div>
        <div class="pad20" style="padding:20px;">

               <!-- <el-row :gutter="20"> -->
<!--                    <el-col :span="24" v-for="(item,index) in jtlyList" :key="index">-->
<!--                        <div class="jtly">-->
<!--                            <span class="mbdz disflex">-->
<!--                              <el-select v-model="jtlyList[index].interfaceType" placeholder="请选择接口类型">-->
<!--								  <el-option :key="it.id" v-for = "it in selectInterfaceType" :label="it.label" :value="it.id"></el-option>-->
<!--                              </el-select>-->
<!--                              <el-select style="margin-left:10px;" v-model="jtlyList[index].interfaceId" placeholder="请选择接口">-->
<!--                                    <el-option :key="item.id" :label="item.interfaceName" :value="item.id" v-for="item in selectJkpz"></el-option>-->
<!--                              </el-select>-->
<!--                            </span>-->
<!--                            <span class="mbdz disflex">目标地址：<el-input class="mbdzinp" v-model="item.targetIp"></el-input></span>-->
<!--                            <span class="xzt disflex">下一条：<el-input class="mbdzinp" v-model="item.nextHopIp"></el-input></span>-->
<!--                            <span class="close" @click="deljtly(index)"></span>-->
<!--                        </div>-->
<!--                    </el-col>-->
                 <div class="caozuo">
                   <el-button type="primary" size="small" icon="el-icon-plus" @click="addjtly">新增</el-button>
                 </div>
                 <el-table
                   :data="jtlyList" :header-cell-style="{background:'#F2F2F2'}"
                   tooltip-effect="dark"
                   style="width: 100%">
                   <el-table-column
                     type="index" label="序号"  align="center"
                     width="50">
                   </el-table-column>
                   <el-table-column prop="outgoingInterface" label="出接口" align="center" ></el-table-column>
                   <el-table-column prop="targetIp" label="目标地址" align="center" ></el-table-column>
                   <el-table-column prop="nextHopIp" label="下一跳" align="center" ></el-table-column>
                   <el-table-column label="操作" align="center">
                     <template slot-scope="scope">
                       <el-button type="text" @click="edit(scope.row)">编辑</el-button>
                       <el-button type="text" @click="deleteL(scope.row.id)">删除</el-button>
                     </template>
                   </el-table-column>
                 </el-table>
                 <el-dialog :title="title" custom-class="dialogStyle"	:visible.sync="dialogVisible" width="340px" >
                   <el-form :model="ruleForm"  ref="ruleForm" label-width="80px" class="demo-ruleForm">
                     <el-row>
                       <el-col :span="24">
                         <el-form-item label="出接口">
                           <el-select  v-model="ruleForm.outgoingInterface" placeholder="请选择出接口">
                             <el-option :key="item.id" :label="item.interfaceName" :value="item.interfaceName" v-for="item in selectJkpz"></el-option>
                           </el-select>
                         </el-form-item>
                       </el-col>
                       <el-col :span="23">
                         <el-form-item label="目标地址">
                           <el-input  v-model="ruleForm.targetIp" @blur="ipchange"></el-input>
                         </el-form-item>
                       </el-col>
                       <el-col :span="23">
                         <el-form-item label="下一跳">
                           <el-input  v-model="ruleForm.nextHopIp"></el-input>
                         </el-form-item>
                       </el-col>
                     </el-row>
                   </el-form>
                   <div slot="footer" class="dialog-footer mar20">
                     <el-button type="primary" size="small" icon="el-icon-folder-opened" @click="staticrouteSave">保存</el-button>
                     <el-button type="primary" size="small" plain icon="el-icon-switch-button" @click="dialogVisible = false">取消</el-button>
                   </div>
                 </el-dialog>
               <!-- </el-row> -->
                <div class="disflex" style="margin-top: 10px">
<!--                   <div class="savebtn" @click="saveJtLy()"><img src="../../assets/save.png">保存</el-button></div>-->
                   <div class="clearbtn" @click="saveClear()"><img src="../../assets/del.png">清空</el-button></div>
                </div>
            </div>

        </div>
    </div>
  </div>
</template>

<script>
import {getInterfaceConfig,setInterfaceConfig,delInterfaceConfig,getInterfaceConfigIpIsNutNull} from "@/api/basics";
import {setStaticRouteConfig,getStaticRouteConfig,delStaticRouteConfig,delStaticRouteConfigById} from "@/api/basics";
import { staticrouteAdd, staticrouteEdit, staticrouteList, staticrouteById, deleteStaticRoute, delDevStaticRoutes} from "@/api/staticroute";
import { compare, compareIPV6 } from "@/utils/change";
import yingyong from "./yingyong"
import liuzhu from "./liuzhu"
import qos from "./qos"
import {deleteLog, logAdd, logById, logEdit} from "@/api/log";
export default {
  components:{yingyong,liuzhu,qos},
   data() {
    return {
      act:0,
	  // jkpzList:['T0','T1','T2','T3', 'G0','G1','G2','G4','G5','G6','G7','G8','G9','G10','G11'],
	  jkpzList:[
		  {interfaceName:'T0'},{ interfaceName:'T1'}, { interfaceName:'V0'}, {interfaceName:'G0'},{interfaceName:'G1'},
		  {interfaceName:'G2'},  { interfaceName:'G3' },{ interfaceName:'G4'},{ interfaceName:'G5'},{ interfaceName:'G6'},{interfaceName:'G7'},
		  {interfaceName:'G8'},{interfaceName:'G9'},{interfaceName:'G10'},{interfaceName:'G11'},{interfaceName:'G12'}
	  ],
      dialogVisible:false,
      ruleForm:{
        id: null,
        ipMask: null,
        targetIp: null,
        nextHopIp: null,
        outgoingInterface: null
      },
      title:'',
    jtlyList:[],
	  selectJkpz:[],
      qosact:0,
	  selectInterfaceType :[
		  {
			  id:1,
			  label:'HOST'
		  },
		  {
			  id:2,
			  label:'DPDK'
		  }
	  ],
    }
  },
   mounted(){

  },
  created() {
  	 this.getJkpzList();
	 this.staticrouteList();
  },
  methods: {
    ipchange(){
       let reg = /^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)([/])(?:[0-9]|[1-2][0-9]?|3[0-2])$/;
        if (reg.test(this.ruleForm.targetIp)) {
          let ip = this.ruleForm.targetIp.split("/")[0];
          let code = this.ruleForm.targetIp.split("/")[1];
          if (code == 32) {
            return;
          } else {
            this.ruleForm.targetIp = compare(ip, code) + "/" + code;
          }
        }
    },
	  getJkpzList(){
		  //基础配置
		  // getInterfaceConfig().then(response=>{
      getInterfaceConfigIpIsNutNull().then(response=>{
			   this.selectJkpz = response.result;
			  var jkpzs = [];
			  var index = 0;
			  var that = this.jkpzList;

			  that.forEach(item=>{
				response.result.forEach(itemResult=>{
					if(item.interfaceName==itemResult.interfaceName){
						item = itemResult;
					}
				})
				jkpzs.push(item)
				index++;
			  })

			  this.jkpzList = jkpzs;
			  // console.log(this.jkpzList)
		  })
	  },
	  // getJtlyList(){
		//   //静态路由配置
		//   getStaticRouteConfig().then(response=>{
		// 	  // console.log(response)
		// 	  this.jtlyList = response.result;
		//   });
	  // },
	  saveJtLy(){
		  if(this.jtlyList.length>0){
			  // console.log('静态路由配置:',this.jtlyList)
			  setStaticRouteConfig(this.jtlyList).then(response=>{
				  this.$message({
				            message: '保存成功',
				            type: 'success'
				          });
			  });
		  }else{
			  this.$message({
			            message: '请先添加路由配置',
			            type: 'warning'
			          });
		  }
	  },
	  saveClear(){
		  delStaticRouteConfig().then(response=>{
			  this.$message({
          message: '清除成功',
          type: 'success'
        });
			  this.jtlyList = [];
        this.getJkpzList();
		  })
	  },
	  save(index){
      let regexp  =/^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)([/])(?:[0-9]|[1-2][0-9]?|3[0-2])$/
        if (!regexp.test(this.jkpzList[index].interfaceIp)) {
          this.$message({
            message: '请输入正确的IP和掩码',
            type: 'error'
          })
          return
        }


		  let jkpzAdd = [];
		  this.jkpzList[index].id = index;
		  this.jkpzList[index].interface_name;
		  if (this.jkpzList[index].interfaceName === 'T0' || this.jkpzList[index].interfaceName === 'T1'){
        this.jkpzList[index].interfaceType = 'HOST'
      }else {
        this.jkpzList[index].interfaceType = 'DPDK'
      }
		  jkpzAdd.push(this.jkpzList[index]);
		  // console.log(jkpzAdd)
		  setInterfaceConfig(jkpzAdd).then(response=>{
        if(response.code == 20000) {
          this.$message({
            message: '保存成功',
            type: 'success'
          });
        }
      })
	  },
    // 清除
	  clear(index){
		  this.jkpzList[index].interfaceIp = null;
		  this.jkpzList[index].ipMask = null;
      this.jkpzList[index].ipMask = null;
      this.jkpzList[index].outgoingInterface = null;
		  this.jkpzList[index].interfaceType = null;
		  this.jkpzList[index].mtu = null;
		  let ids = []
		  ids.push(this.jkpzList[index].id);
		  delInterfaceConfig(ids).then(response=>{
        this.$message({
          message: '清除成功',
          type: 'success'
        });
        this.getJkpzList();
	      this.staticrouteList();


      });
	  },
	  saves(){

      let regexp  =/^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)([/])(?:[0-9]|[1-2][0-9]?|3[0-2])$/

      var jkpzs = this.jkpzList.map((item,index)=>{
        item.id=index;
        return item;
      })
      for(let i=0;i<this.jkpzList.length;i++){
        console.log(this.jkpzList[i].interfaceIp)
         if (this.jkpzList[i].interfaceIp!=''&&this.jkpzList[i].interfaceIp!=undefined&&!regexp.test(this.jkpzList[i].interfaceIp)) {
          this.$message({
            message: '请输入正确的IP和掩码',
            type: 'error'
          })
          return
        }
      }
		  // this.jkpzList.forEach(item=>{
			//   if(item.interfaceType!=null && item.interfaceIp!=null && item.ipMask){
			// 	  item.id = index;
			// 	  jkpzs.push(item)
			// 	  index++
			//   }
		  // })
		   console.log(jkpzs)
		  if(jkpzs.length>0){

			  setInterfaceConfig(jkpzs).then(response=>{
          this.$message({
            message: '保存成功',
            type: 'success'
          });
        })
		  }

	  },
	  clears(){
      this.$confirm('此操作将一键清空所有数据, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          var ids = [];
		  var initjkpz = [];
		  var index = 0;
		  this.jkpzList.forEach(item=>{
        if(item.id&&item.id!=undefined){
          ids.push(item.id)
        }

			  initjkpz.push({interfaceName:item.interfaceName})
			  index++;
		  })
		  delInterfaceConfig(ids).then(response=>{
			  // this.jkpzList = initjkpz;
        this.$message({
            type: 'success',
            message: '删除成功!'
          });
		  });
		  this.jkpzList = initjkpz;

        })

	  },
	  handleChangeType(value){
		  this.selectJkpz = [];
		  getInterfaceConfig(value).then(response=>{
			  this.selectJkpz = response.result;
		  });
	  },
    tabClick(e){
      this.act=e
    },
    qosClick(e){
      this.qosact=e
    },
    deljtly(row){
	  // var jtly = this.jtlyList[index];
    //   this.jtlyList.splice(index,1)
    //   if (!jtly.id) return
      deleteStaticRoute(row.id).then(response=>{
		  this.$message({
		            message: '删除成功',
		            type: 'success'
		          });
	  })
    },
    addjtly(){
      // var jtly = {
      //   targetIp:null,
      //   nextHopIp:null,
      // }
      // this.jtlyList.push(jtly)
      this.ruleForm = {
        id: null,
        ipMask: null,
        targetIp: null,
        nextHopIp: null,
        outgoingInterface: null
      }
      this.title = '新增静态路由配置'
		  this.dialogVisible = true
    },
    //获取静态路由配置
    staticrouteList(){
      staticrouteList().then(response =>{
        this.jtlyList = response.result;
      })
    },
    //保存
    staticrouteSave(){
      let regexp  =/^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)([/])(?:[0-9]|[1-2][0-9]?|3[0-2])$/;
      let regexp2 =/^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/;
      if (!regexp.test(this.ruleForm.targetIp)) {
          this.$message({
            message: '目标地址格式不对',
            type: 'error'
          })
          return
      }
      if (!regexp2.test(this.ruleForm.nextHopIp)) {
          this.$message({
            message: '下一跳格式不对',
            type: 'error'
          })
          return
      }

      if (this.ruleForm.id != null) {
        staticrouteEdit(this.ruleForm).then(response => {
          this.$message({
            message: '修改成功',
            type: 'success'
          })
          this.dialogVisible = false
          this.staticrouteList()
        })
      } else {
        staticrouteAdd(this.ruleForm).then(response=>{
          this.$message({
            message: '保存成功',
            type: 'success'
          })
          this.staticrouteList()
          this.dialogVisible = false
        })
      }
    },
    //取消
    cancel(){
      this.dialogVisible = false
    },
    //interfaceIp校验
    interfaceIpChange(index){
      let itemArr = this.jkpzList[index].interfaceIp
      let regexp  =/^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)([/])(?:[0-9]|[1-2][0-9]?|3[0-2])$/
      if (this.jkpzList[index].interfaceIp){
        if (!regexp.test(itemArr)) {
          this.$message({
            message: '请输入正确的IP和掩码',
            type: 'error'
          })
          //this.jkpzList[index].interfaceIp = undefined
        }
      }
    },
    /** 修改按钮操作 */
    edit(row) {
      this.ruleForm = {
        id: null,
        ipMask: null,
        targetIp: null,
        nextHopIp: null,
        outgoingInterface: null
      }
      const id = row.id
      staticrouteById(id).then(response => {
        this.ruleForm = response.result
        this.dialogVisible = true
        this.title = '修改静态路由配置'
      })
    },
    //删除
    deleteL(id){
      this.$confirm('是否确认删除数据项?', "警告", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      }).then(function () {
        return deleteStaticRoute(id);
      }).then(() => {
        this.staticrouteList();
        this.$message({
          message: '删除成功',
          type: 'success'
        })
      }).catch(() => {
      })
    },
    //mtu校验
    mtuChange(index){
      let item = this.jkpzList[index].mtu
      if (this.jkpzList[index].mtu){
        if (64> item || item > 9000){
          this.$message({
            message:'请输入MTU!(64≤MTU≤9000)',
            type:'error'
          })
          this.jkpzList[index].mtu = 1500
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.jtly {
  padding:20px;
  .jiekou{
    display: flex;margin-bottom: 20px;align-items: center;
    .jiekoufont {
      width:50px;
    }
    .hx {border: 1px solid #DCDCDC;width:25px;}
    .jiekouinp {margin-right:10px;margin-left:10px;}
    .jktype {width:700px;margin-left:10px;}
  }
  .jtly {
      background: #FFFFFF;position: relative;
      border: 1px solid #DCDCDC;
      border-radius: 10px;margin-bottom: 20px;
      .mbdz {padding:10px;border-bottom:1px solid #DCDCDC;white-space: nowrap;align-items: center}
      .xzt{padding: 10px;white-space: nowrap;align-items: center}
      .close {position: absolute;right:-8px;top:-8px;background:url(../../assets/close.png) no-repeat;width:40px;height: 40px;cursor: pointer;}
  }
  .addbtn {width:50px;height: 50px;background:#5473FF;cursor: pointer;color:#fff;font-size:30px;border-radius: 10px;line-height: 45px;text-align: center;margin-bottom: 20px;}
  .qosbg {display: flex;padding:30px;
    .qomenu {width: 146px;display:flex;align-items: center;justify-content: center;position: relative;
height: 62px;color:#5473FF;font-size: 20px;cursor: pointer;
background: #FFFFFF;
border: 1px solid #5473FF;
border-radius: 10px;
        .shanjiao {display: none}
     }
    .qomenu img {width:40px;height:40px;margin-right:10px;}
    .qoshov {background:#5473FF;color:#fff;
       .sanjiao {
          width:0;position: absolute;left:60px;bottom:-20px;display:block;
          height:0;
          overflow:hidden;
          font-size: 0;     /*是因为, 虽然宽高度为0, 但在IE6下会具有默认的 */
          line-height: 0;  /* 字体大小和行高, 导致盒子呈现被撑开的长矩形 */
          border-width:10px;
          border-style:solid;  /*ie6下会出现不透明的兼容问题*/
          border-color:#5473FF transparent transparent transparent;
       }
    }
    .jt {border-bottom: 1px solid #E5E5E5;flex:1;height:30px;position: relative;}
    .jticon {width: 20px;font-size:12px;text-align: center;line-height: 20px;position: absolute;left:50%;top:20px;margin-left:-10px;
height: 20px;
background: #DCDCDC;
border-radius: 50%;}
  }
}
</style>
<style>
.jiekouinp .el-input__inner {flex:1;height:50px;}
.mbdzinp .el-input__inner {flex:1;border:0px;padding:0px;height:30px;}
.jktype .el-input--suffix .el-input__inner {height: 50px;}
</style>
