<template>
  <div class="pad20">
     <div class="fkbg" style="min-height:calc(100vh - 100px)">
       <div class="fkbgtitle">
          <div class="fkico"></div>
          <div style="flex:1">流组设置</div>
          <el-button type="primary" size="mini" class="backbtn" @click="$router.go(-1)">返回上一级</el-button>
      </div>
      <div class="pad20">
    <div class="caozuo">
      <el-button type="primary" size="small" icon="el-icon-plus" @click="add()">新增</el-button>
      <el-button type="primary" size="small" plain icon="el-icon-delete" @click="handleDelete()">删除</el-button>
    </div>
   <el-table
    :data="tableData" :header-cell-style="{background:'#F2F2F2'}"
    tooltip-effect="dark"
    style="width: 100%"
    @selection-change="handleSelectionChange">
    <el-table-column
      type="selection"
      align="center"
      width="55">
    </el-table-column>
    <el-table-column
      type="index" label="序号"  align="center"
      width="50">
    </el-table-column>

    <el-table-column prop="name" label="名称" align="center" ></el-table-column>
     <el-table-column prop="description" label="描述" align="center" ></el-table-column>
    <el-table-column label="操作" align="center">
      <template slot-scope="scope">
        <el-button type="text" @click="edit(scope.row)">编辑</el-button>
        <el-button type="text" @click="handleDeleteId(scope.row)">删除</el-button>
        <el-button type="text" @click="handleCopyStreamGroup(scope.row.id)">复制</el-button>
      </template>
    </el-table-column>
  </el-table>
      <div class="page">
          <el-pagination
		  v-show="total>0"
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          :current-page="current"
          :page-sizes="[100, 200, 300, 400]"
          :page-size="pageSize"
          layout="prev, pager, next, jumper, sizes"
          :total="total">
        </el-pagination>
      </div>
      </div>
     </div>
      <el-dialog :title="title" custom-class="dialogStyle"	:visible.sync="dialogVisible" width="840px" >
        <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="150px" class="demo-ruleForm">
          <el-row>
          <el-col :span="12">
               <el-form-item label="名称" prop="name">
                  <el-input v-model="ruleForm.name"></el-input>
                </el-form-item>
          </el-col>
          <el-col :span="12">
               <el-form-item label="描述">
                  <el-input v-model="ruleForm.description"></el-input>
                </el-form-item>
          </el-col>
        </el-row>
        <div style="background:#0b0f17;padding:20px;">
          <div class="disflex tabdiv">
               <div @click="tabitemClick(index)" class="tabitem" :class="{tabitemActive:tabitemAct==index}" v-for="(item,index) in ruleForm.streamVoList" :key="index">
                    流{{index+1}}
                    <span class="gb el-icon-close" @click="deltab(index)"></span>
               </div>
               <span @click="addtab" class="lan el-icon-circle-plus-outline"></span>
          </div>
        <el-row class="mar20" v-for="(item,index) in ruleForm.streamVoList" :key="index" v-if="index==tabitemAct">
          <el-col :span="12">
            <el-form-item label="源IP">
               <el-input v-model="ruleForm.streamVoList[index].sourceIp" @blur="ipChange(index)"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="掩码长度">
               <el-input v-model="ruleForm.streamVoList[index].sourceIpMask" @blur="ymChange(index)"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="目的IP">
               <el-input v-model="ruleForm.streamVoList[index].destinationIp" @blur="ipChange2(index)"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="掩码长度">
               <el-input v-model="ruleForm.streamVoList[index].destinationIpMask" @blur="ymChange2(index)"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="应用" prop="conform">
              <el-select style="width:100%" v-model="ruleForm.streamVoList[index].appId" placeholder="请选择">
				  <el-option :key="item.id" v-for = "item in appList" :label="item.appName" :value="item.id"></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          </el-row>
        </div>
        </el-form>
        <div slot="footer" class="dialog-footer mar20">
             <el-button type="primary" size="small" icon="el-icon-folder-opened" @click="save">保存</el-button>
             <el-button type="primary" size="small" plain icon="el-icon-switch-button" @click="dialogVisible = false">取消</el-button>
        </div>
      </el-dialog>
  </div>
</template>

<script>
import {getAllApp,getStreamGroup,delStreamGroup,delStreamGroups,copyStreamGroup,addStreamGroup,getStreamGroupById,editStreamGroup} from "@/api/basics";
export default {
   data() {
    return {
      currentPage:1,
      dialogVisible:false,
      selectList:[],
	  ids:[],
		single:true,
		multiple:true,
	  title:'',
	  total:0,
	  current:1,
	  pageSize:5,
      tableData:[],
	  appList:[],
      ruleForm: {
          name:'',
          description:'',
          streamVoList:[]
        },
        rules: {
          name: [
            { required: true, message: '请输入名称', trigger: 'blur' }
          ],
        },
        tabitemAct:0
    }
  },
  created() {
	  this.getStreamGroupList()
	  this.getAppList();
  },
  methods: {
    ipChange(index){
      let regexp=/^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/
       if(!regexp.test(this.ruleForm.streamVoList[index].sourceIp)){
          this.$message({
            message: '源IP必须是IP+/18格式',
            type: 'error'
          })
          this.ruleForm.streamVoList[index].sourceIp=''
       }
    },
    ipChange2(index){
      let regexp=/^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/
       if(!regexp.test(this.ruleForm.streamVoList[index].destinationIp)){
          this.$message({
            message: '目的IP必须是IP+/18格式',
            type: 'error'
          })
          this.ruleForm.streamVoList[index].destinationIp=''
       }
    },
    ymChange(index){
      if(this.ruleForm.streamVoList[index].sourceIpMask<0||this.ruleForm.streamVoList[index].sourceIpMask>32){
         this.$message({
            message: '必须0≤掩码长度≤32',
            type: 'error'
          })
          this.ruleForm.streamVoList[index].sourceIpMask=''
      }

    },

    ymChange2(index){
      if(this.ruleForm.streamVoList[index].destinationIpMask<0||this.ruleForm.streamVoList[index].destinationIpMask>32){
         this.$message({
            message: '必须0≤掩码长度≤32',
            type: 'error'
          })
          this.ruleForm.streamVoList[index].destinationIpMask=''
      }

    },
	  getAppList(){
		  getAllApp().then(response=>{
		  		this.appList =  response.result;
		  })
	  },
	  getStreamGroupList(){
		  getStreamGroup().then(response=>{
			  this.tableData = response.result.list;
			  this.total = response.result.total;
			  console.log(response.result)
		  });
	  },
	  getStreamGroupByIdList(id){
		  getStreamGroupById({id}).then(response=>{
			  this.ruleForm = response.result;
		  });
	  },
    tabitemClick(index){
      this.tabitemAct=index;
    },
    addtab(){
		var liuarry = {
			sourceIp:'',
			sourceIpMask:'',
			destinationIp:'',
			destinationIpMask:'',
			appId:'',
			appName:'',
		}
      this.ruleForm.streamVoList.push(liuarry)
    },
    deltab(index){
      this.ruleForm.streamVoList.splice(index,1);
    },
    save(){
      this.$refs.ruleForm.validate((valid) => {
          if (valid) {
			  if(this.ruleForm.id!=null){
				  editStreamGroup(this.ruleForm).then(response=>{
					  this.$message({message: '编辑成功', type: 'success' });
					  this.getStreamGroupList()
					  this.ruleForm = {
						  name:'',
						  description:'',
						  streamVoList:[]
					  }
					  this.dialogVisible = false
				  })
			  }else{
				  addStreamGroup(this.ruleForm).then(response=>{
					  this.$message({message: '添加成功', type: 'success' });
					  this.getStreamGroupList()
					  this.ruleForm = {
						  name:'',
						  description:'',
						  streamVoList:[]
					  }
					  this.dialogVisible = false
				  })
			  }

          } else {
            console.log('error submit!!');
            return false;
          }
        });

     },
    add(){
	  this.title = '新增流组';
      this.dialogVisible = true;
      	var liuarry = {
			sourceIp:'',
			sourceIpMask:'',
			destinationIp:'',
			destinationIpMask:'',
			appId:'',
			appName:'',
		}
    this.ruleForm.name="";
    this.ruleForm.description='';
      this.ruleForm.streamVoList=[liuarry]
      this.tabitemAct=0
    },
	edit(row){
		this.getStreamGroupByIdList(row.id);
		this.title = '编辑流组';
		this.dialogVisible = true
	},
	handleDelete(){
		const ids = this.ids;
		this.$confirm('是否确认删除', "警告", {
		    confirmButtonText: "确定",
		    cancelButtonText: "取消",
		    type: "warning"
		  }).then(function() {
		    return delStreamGroups(ids);
		  }).then(() => {
			this.ids = [];
		    this.getStreamGroupList()
		    this.msgSuccess("删除成功");
		  }).catch(() => {});
	},
    handleCurrentChange(current){
	  this.tableData = [];
	  this.current = current;
	  this.getStreamGroupList()
    },
    handleSizeChange(size){
	  this.tableData = [];
	  this.pageSize = size;
	  this.getStreamGroupList()
    },
   handleSelectionChange(selection) {
     this.ids = selection.map(item => item.id)
     this.single = selection.length!==1
     this.multiple = !selection.length
   },
	handleDeleteId(row){
		const id = row.id ;
		this.$confirm('是否确认删除', "警告", {
		    confirmButtonText: "确定",
		    cancelButtonText: "取消",
		    type: "warning"
		  }).then(function() {
		    return delStreamGroup(id);
		  }).then(() => {
		    this.getStreamGroupList()
		    this.msgSuccess("删除成功");
		  }).catch(() => {});
	},
	handleCopyStreamGroup(id){
		copyStreamGroup({id:id}).then(response=>{
			this.$message({message: '复制成功', type: 'success' });
			this.getStreamGroupList()
		})
	},
  }
}
</script>

<style lang="scss" scoped>
.tabdiv {align-items: center;}
.tabdiv .lan {color:#15A4FF;font-size: 22px;cursor: pointer;margin-left:10px;}
.tabitem {width: 122px;border-top-left-radius: 10px;border-top-right-radius: 10px;margin-right:2px;cursor: pointer;
height: 36px;position: relative;line-height: 36px;text-align: center;font-size: 14px;
background: linear-gradient(0deg, #242F41,#2F3F58);color:#eaeaea;}
.tabitem .gb {color:#666;position: absolute;right:8px;top:12px;cursor: pointer;}
.tabitemActive{background: linear-gradient(0deg,#0064A4, #15A4FF);color:#fff;}
.tabitemActive .gb {color:#fff;}
</style>
