<template>
  <div :class="className" :style="{height:height,width:width}" />
</template>

<script>
import * as echarts from 'echarts';
import resize from './mixins/resize'
export default {
  mixins: [resize],
  props: {
    className: {
      type: String,
      default: 'chart'
    },
    width: {
      type: String,
      default: '100%'
    },
    height: {
      type: String,
      default: '300px'
    }
  },
  data() {
    return {
      chart: null
    }
  },
  mounted() {
    // this.$nextTick(() => {
    //   this.initChart()
    // })
  },
  beforeDestroy() {
    if (!this.chart) {
      return
    }
    this.chart.dispose()
    this.chart = null
  },
  methods: {
    initChart(num) {
      this.chart = echarts.init(this.$el)
      this.chart.setOption({
       tooltip: {},
         xAxis: {
        data: [""],
        axisTick: {
            show: false
        },
        axisLine: {
            show: false
        },
        axisLabel: {
            show: false,
            textStyle: {
                color: '#e54035'
            }
        }
    },
    yAxis: {
        splitLine: {
            show: false
        },
        axisTick: {
            show: false
        },
        axisLine: {
            show: false
        },
        axisLabel: {
            show: false
        }
    },
    series: [{
        name: '内存占有率',
        type: 'pictorialBar',
        symbolSize: [100, 45],
        symbolOffset: [0, -20],
        z: 12,
        itemStyle: {
            normal: {
                color: '#14b1eb'
            }
        },
        data: [{
            value: num,
            symbolPosition: 'end'
        }]
    }, {
        name: '内存占有率',
        type: 'pictorialBar',
        symbolSize: [100, 45],
        symbolOffset: [0, 20],
        z: 12,
        itemStyle: {
            normal: {
                color: '#14b1eb'
            }
        },
        data: [num]
    }, {
        type: 'bar',
        label: {
        show: true,
        position: 'inside',
        color: "#fff" ,
        fontWeight:'bold',
        fontSize: 18 ,
        formatter: '{c}%'
      },
        itemStyle: {
            normal: {
                color: '#14b1eb',
                opacity: .7
            }
        },
        silent: true,
        barWidth: 100,
        barGap: '-100%', // Make series be overlap
        data: [num]
    }]
        })
    }
  }
}
</script>
