<template>
  <div :class="className" :style="{height:height,width:width}" />
</template>

<script>
import * as echarts from 'echarts';
import resize from './mixins/resize'
export default {
  mixins: [resize],
  props: {
    className: {
      type: String,
      default: 'chart'
    },
    width: {
      type: String,
      default: '100%'
    },
    height: {
      type: String,
      default: '300px'
    }
  },
  data() {
    return {
      chart: null
    }
  },
  mounted() {
    // this.$nextTick(() => {
    //   this.initChart()
    // })
  },
  beforeDestroy() {
    if (!this.chart) {
      return
    }
    this.chart.dispose()
    this.chart = null
  },
  methods: {
    initChart(names,series) {
      this.chart = echarts.init(this.$el)
      this.chart.clear();
      this.chart.setOption({
           tooltip: {
          trigger: 'axis'
        },
        legend: {
          data: names,
          textStyle: {
            color:'#fff'
          }
        },
        grid: {
          left: '3%',
          right: '4%',
          bottom: '8%',
          top:'10%',
          containLabel: true
        },
        xAxis: {
          type: 'category',
          boundaryGap: false,
          axisLine:{
              lineStyle: {
              color: '#fff'
              }
          },
          data: ['1月', '2月', '3月', '4月', '5月', '6月', '7月','8月','9月','10月','11月','12月']
        },
        yAxis: {
          type: 'value',
          name:'流量(万)',
          axisLine:{
              lineStyle: {
              color: '#fff'
              }
          },
        },
         series: series
        // [
        //   {
        //     name: '入口一',
        //     type: 'line',
        //     stack: 'Total',
        //     data: [120, 132, 101, 134, 90, 230, 210,220, 182, 191, 234, 290]
        //   },
        //   {
        //     name: '入口二',
        //     type: 'line',
        //     stack: 'Total',
        //     data: [220, 182, 191, 234, 290, 330, 310,150, 232, 201, 154, 190]
        //   },
        //   {
        //     name: '入口三',
        //     type: 'line',
        //     stack: 'Total',
        //     data: [150, 232, 201, 154, 190, 330, 410,320, 332, 301, 334, 390]
        //   },
        //   {
        //     name: '入口四',
        //     type: 'line',
        //     stack: 'Total',
        //     data: [320, 332, 301, 334, 390, 330, 320,120, 132, 101, 134, 90]
        //   }
        // ]
        })
    }
  }
}
</script>
