<template>
  <div>
    <div class="">
          <div class="caozuo">
            <span class="caozuotitle">事件定义</span>
             <el-button type="primary" size="small" icon="el-icon-back" @click="back">返回</el-button>
            <el-button type="primary" size="small" icon="el-icon-plus" @click="add">新增</el-button>
          </div>
          <div class="">
          <el-table
            :data="tableData" :header-cell-style="{background:'#F2F2F2'}"
            tooltip-effect="dark"
            style="width: 100%">


            <el-table-column prop="name" label="内容" align="center" ></el-table-column>
            <el-table-column prop="opposite_end_ip" label="事件" align="center" >
              <template slot-scope="scope">
               {{scope.row.definition}}{{scope.row.operator}}{{scope.row.threshold}}
              </template>
            </el-table-column>
            <el-table-column prop="duration" label="时长" align="center" ></el-table-column>
            <el-table-column label="操作" align="center">
              <template slot-scope="scope">
                <el-button type="text" @click="edit(scope.row)">编辑</el-button>
                <el-button type="text" @click="deleteL(scope.row.id)">删除</el-button>
              </template>
            </el-table-column>
          </el-table>
          </div>
      </div>
      <el-dialog :title="title" custom-class="dialogStyle"	:visible.sync="dialogVisible" width="30%" >
        <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
            <el-form-item label="事件名称" prop="name">
              <el-input v-model="ruleForm.name" placeholder="请输入名称"></el-input>
            </el-form-item>
            <el-form-item label="事件阈值" prop="threshold">
              <el-input v-model="ruleForm.threshold" type="number" placeholder="请输入阈值"></el-input>
            </el-form-item>
            <el-form-item label="运算符" >
              <el-select style="width:100%" v-model="ruleForm.operator" placeholder="请选择">
                    <el-option label="<" value="<"></el-option>
                    <el-option label="=" value="="></el-option>
                    <el-option label="<=" value="<="></el-option>
                    <el-option label=">" value=">"></el-option>
                    <el-option label=">=" value=">="></el-option>
             </el-select>
            </el-form-item>
            <el-form-item label="事件定义" >
              <el-select style="width:100%" v-model="ruleForm.definition" placeholder="请选择">
                    <el-option label="CPU负载" value="CPU负载"></el-option>
                    <el-option label="内存使用率" value="内存使用率"></el-option>
                    <el-option label="流量" value="流量"></el-option>
             </el-select>
            </el-form-item>
             <el-form-item label="持续时间" prop="time">
               <div class="disflex">
                      <el-input v-model="ruleForm.time" placeholder="请填写时间"></el-input>
                      <el-select style="width:150px;margin-left:10px;" v-model="ruleForm.hoursminutes" placeholder="请选择">
                            <el-option label="分钟" value="分钟"></el-option>
                            <el-option label="小时" value="小时"></el-option>
                    </el-select>
               </div>
            </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
             <el-button type="primary" size="small" icon="el-icon-folder-opened" @click="save">保存</el-button>
             <el-button type="primary" size="small" plain icon="el-icon-switch-button" @click="dialogVisible = false">取消</el-button>
        </span>
      </el-dialog>
  </div>
</template>

<script>
import {logAdd,logEdit,logList,logById,deleteLog,delDevLogs} from '@/api/log'
export default {
   data() {
    return {
      title:"",
      dialogVisible:false,
      tableData:[],
      ruleForm: {
        id: null,
        name:'',
        threshold:'',
        operator:'',
        definition:'',
        time:'',
        hoursminutes:'分钟'
      },
      rules: {
          name: [
            { required: true, message: '请输入名称', trigger: 'blur' }
          ],
          time: [
            { required: true, message: '请输入时间', trigger: 'blur' }
          ],
          threshold: [
            { required: true, message: '请输入事件阈值', trigger: 'blur' }
          ],
        }
    }
  },
  created() {
     this.getlogList()
  },
  methods: {
    back(){
      this.$emit("eventClose")
      this.getlogList()
    },
    save(){
      this.$refs['ruleForm'].validate(valid => {
        if (valid) {
          if (this.ruleForm.threshold < 1 || this.ruleForm.threshold > 2147483647){
              this.$message({
                message: '事件阈值请输入1-2147483647的数字',
                type: 'error'
              })
              return
            }

          if (this.ruleForm.id != null) {
            logEdit(this.ruleForm).then(response => {
              this.$message({
                message: '修改成功',
                type: 'success'
              })
              this.dialogVisible = false
              this.getlogList()
            })
          } else {
            logAdd(this.ruleForm).then(response => {
              this.$message({
                message: '新增成功',
                type: 'success'
              })
              this.dialogVisible = false
              this.getlogList()
            })
          }
        }
      });
     },
    add(){
      this.dialogVisible = true
      this.title = '新增事件定义'
    },
    getlogList(){
      logList({}).then(res =>{
        this.tableData = res.result
      })
    },
    /** 修改按钮操作 */
    edit(row) {
      this.reset();
      const id = row.id
      logById(id).then(response => {
        this.ruleForm = response.result
        this.dialogVisible = true
        this.title = '修改事件定义'
      })
    },
    //删除
    deleteL(id){
      this.$confirm('是否确认删除数据项?', "警告", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      }).then(function () {
        return deleteLog(id);
      }).then(() => {
        this.getlogList();
        this.$message({
          message: '删除成功',
          type: 'success'
        })
      }).catch(() => {
      })
    },
    // 表单重置
    reset() {
      this.ruleForm = {
        id: null,
        name:'',
        threshold:'',
        operator:'',
        definition:'',
        time:'',
        hoursminutes:'分钟'
      }
      if (this.$refs['ruleForm']) {
        this.$refs['ruleForm'].resetFields();
      }
    },
  }
}
</script>

<style lang="scss" scoped>

</style>
<style>

</style>
