<template>
  <div class="log">
     <div class="fkbgtitle"><div class="fkico"></div>日志</div>
     <div class="fkbg pad20" style="min-height:calc(100vh - 160px)">
         <div v-if="eventShow==false">
              日期：<el-date-picker size="small"
            v-model="timearry"
            type="daterange"
            range-separator="至"
            start-placeholder="开始日期"
            end-placeholder="结束日期"
            value-format="yyyy-MM-dd"
            format="yyyy-MM-dd"
         >
          </el-date-picker>
          <span class="caozuo" style="margin-left:10px;">
              <el-button type="primary" size="small" icon="el-icon-search" @click="getlogList">查询</el-button>
              <el-button type="primary" size="small" icon="el-icon-plus" @click="addevent" >事件定义</el-button>
          </span>
            <div class="mar20">
                <div class="">
                <el-table
                  :data="tableData" :header-cell-style="{background:'#F2F2F2'}"
                  tooltip-effect="dark"
                  style="width: 100%">
                  <el-table-column prop="name" label="内容" align="center" ></el-table-column>
                  <el-table-column prop="duration" label="时长" align="center" ></el-table-column>
                </el-table>
                </div>
            </div>
         </div>
         <event v-if="eventShow" @eventClose="eventClose"></event>
    </div>
  </div>
</template>
<script>
import {logAdd,logEdit,logList,logById,deleteLog,delDevLogs} from '@/api/log'
import event from "./event"
export default {
  components:{event},
   data() {
    return {
      timearry:[],
      tableData:[],
      eventShow:false
    }
  },
  created() {
    this.getlogList()
  },
  methods: {
    eventClose(e){
      this.eventShow=false
      this.getlogList();
    },
    addevent(){
      this.eventShow=true
    },
    getlogList(){
      console.log(this.timearry)
      logList({start: this.timearry[0], end: this.timearry[1] }).then(res =>{
        this.tableData = res.result
      })
    },
  }
}
</script>

<style lang="scss" scoped>
.log {
padding:20px;
}
</style>
