@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;color:#333;background:#0E101F;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 20px;
}
.fffbg {background:#fff;border-radius: 5px;}
.disflex {display: flex;}
.mar20 {margin-top:20px;}
.mainh {font-size:18px;font-weight: bold;height:60px;line-height: 60px;border-bottom: 1px solid #F3F6FA;padding-left:25px;padding-right:25px;margin-bottom: 10px;}
.l {float:left}
.r {float:right}
.ckitem{line-height: 30px;height:30px;}
.jkItem {
  text-align: center;padding:40px 15px;font-size:14px;cursor: pointer;
  img {width:100%;}
}
.jkItem:hover {
 box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.11);
}
.pad20 {padding:20px;}
.tabmenu {padding: 20px 20px 0px 20px;border-bottom: 2px solid #EBEFF4;display:flex;align-items: flex-end;}
ul,li {list-style: none;margin:0px;padding:0px;}
.tabmenu li {width: 159px;text-align: center;line-height: 42px;cursor: pointer;
  height: 42px;border-top-right-radius: 5px;border-top-left-radius: 5px;margin-right:5px;
  background: #F5F7F9;}
.tabmenu li.active {
  width: 159px;color:#fff;border-top-right-radius: 8px;border-top-left-radius: 8px;
height: 52px;line-height: 52px;
background: #5473FF;
}
.savebtn {height: 50px;min-width: 115px;display: flex;align-items: center;color:#fff;justify-content: center;
  background: linear-gradient(0deg,#0064A4, #15A4FF);
  border: 1px solid;
  border-image: linear-gradient(0deg, #3099DB, #77CAFF) 1 1;margin-right:10px;cursor: pointer;
  border-radius: 2px;}
.clearbtn {min-width: 115px;display: flex;align-items: center;justify-content: center;
  height: 50px;cursor: pointer;
  background: linear-gradient(0deg, #242F41,#2F3F58)!important;color:#fff;
    border: 1px solid rgba(255, 255, 255, 0.08)!important;;
    box-shadow: 1px 1px 1px 0px rgba(4, 0, 0, 0.6), 0px 0px 8px 0px rgba(0, 0, 0, 0.31)!important;;
  border-radius: 2px;}
.savebtn img,.clearbtn img {width:40px;height:40px;}
.page {text-align: center;padding: 20px;
  .el-pager li{
    background:#000;
  }
  .el-input__inner,.el-pagination button:disabled {
    background-color: #262f40;border:0px;color:#fff;
  }
  .el-pagination__jump {
    color:#fff;
  }
}
.caozuo {text-align: right;margin-bottom: 15px;
  .el-button--primary{ background: linear-gradient(0deg,#0064A4, #15A4FF);
    border: 1px solid;
    border-image: linear-gradient(0deg, #3099DB, #77CAFF) 1 1;}
  .el-button--primary.is-plain {background: linear-gradient(0deg, #242F41,#2F3F58)!important;;color:#fff;
    border: 1px solid rgba(255, 255, 255, 0.08)!important;;
    box-shadow: 1px 1px 1px 0px rgba(4, 0, 0, 0.6), 0px 0px 8px 0px rgba(0, 0, 0, 0.31)!important;}
  .caozuotitle {font-weight: bold;float:left;line-height: 30px;}
}
.dialogStyle {background:#1c2233;}
.dialogStyle .el-dialog__header {padding:15px 20px 15px 20px;text-align: center;
  border-bottom:1px solid rgb(66, 153, 232);
  background-image: -moz-linear-gradient( 90deg, rgb(43,79,113) 0%, rgb(38,47,64) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(43,79,113) 0%, rgb(38,47,64) 100%);
  .el-dialog__title {color:#15A4FF;}
}
.dialogStyle .el-dialog__body {padding: 20px;
  .el-form-item__label {
    color:#fff;
  }
  .el-input__inner {
    background-color: #262f40;border:0px;color:#fff;
  }
}
.dialogStyle .el-dialog__footer {text-align: center;padding-top:0px;margin-top:-20px;color:#fff;}
.dialogStyle {
  .el-button--primary{background: linear-gradient(0deg,#0064A4, #15A4FF)!important;
    border: 1px solid;
    border-image: linear-gradient(0deg, #3099DB, #77CAFF) 1 1!important;
    box-shadow: 0px 1px 1px 0px rgba(4, 0, 0, 0.8), 0px 0px 7px 0px rgba(0, 0, 0, 0.19)!important;}
  .el-button--primary.is-plain {background: linear-gradient(0deg, #242F41,#2F3F58)!important;;color:#fff;
    border: 1px solid rgba(255, 255, 255, 0.08)!important;;
    box-shadow: 1px 1px 1px 0px rgba(4, 0, 0, 0.6), 0px 0px 8px 0px rgba(0, 0, 0, 0.31)!important;
    }
}
.minheight {min-height: calc(100vh - 395px);}
.huibg {background:#F0F4F9;padding:15px;}


.fkbg {
  background: #1c2233;
  box-shadow: 1px 2px 20px 0px rgba(0, 0, 0, 0.3);
  border-radius: 5px;color:#fff;

}
.fkbgtitle {
  height: 60px;padding-left:20px;
  background: #242F41;
  color:#fff;font-size:20px;
  font-weight: bold;
  display:flex;
  align-items: center;
  .fkico {
    width: 4px;
    height: 20px;margin-right:10px;
    background: #0E8FE1;
  }
}
.el-table {background:#1c2233}
.el-table th,.el-table tr {background: linear-gradient(0deg, #2F3F58, #242F41)!important;border:0px;color:#fff;
  border: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow: 1px 1px 1px 0px rgba(4, 0, 0, 0.6), 0px 0px 8px 0px rgba(0, 0, 0, 0.31);}
.el-table th.is-leaf,.el-table td {border:0px;}
.el-table::before {height:0px;border:0px;}
.el-table tr:hover{background: linear-gradient(0deg,#0064A4, #15A4FF)!important;
  border: 1px solid;
  border-image: linear-gradient(0deg, #3099DB, #77CAFF) 1 1!important;
  box-shadow: 0px 1px 1px 0px rgba(4, 0, 0, 0.8), 0px 0px 7px 0px rgba(0, 0, 0, 0.19)!important;}
  .el-table--enable-row-hover .el-table__body tr:hover>td {background:none;}
  .el-button--text {color:#fff;}
.backbtn {margin-right:20px;background: linear-gradient(0deg,#0064A4, #15A4FF)!important;border-image: linear-gradient(0deg, #3099DB, #77CAFF) 1 1!important;
  box-shadow: 0px 1px 1px 0px rgba(4, 0, 0, 0.8), 0px 0px 7px 0px rgba(0, 0, 0, 0.19)!important;}
