<template>
  <div class="jiekou">
      <div class="fkbg">
              <div class="fkbgtitle"><div class="fkico"></div>CPU负载</div>
              <div class="disflex">
                  <div class="cpuimg">
                      <img src="../../assets/cpu.png">
                  </div>
                   <div class="cpufont">
                      <div class="cpufontnum">{{cpuusage}}%</div>已占用
                  </div>
                  <div class="loading">
                        <div class="loading2"><div class="loading1" :style="{width:cpuusage+'%'}"></div></div>
                  </div>
              </div>
      </div>
      <div class="fkbg mar20">
              <div class="fkbgtitle"><div class="fkico"></div>内存占有率</div>
              <div class="disflex">
                  <div class="cpuimg">
                      <img src="../../assets/nc.png">
                  </div>
                   <div class="cpufont">
                      <div class="cpufontnum" style="color:#F6763C">{{memoryusage}}%</div>已占用
                  </div>
                  <div class="loading">
                        <div class="loading2"><div class="loading1" :style="{width:memoryusage+'%'}"></div></div>
                  </div>
              </div>
      </div>
  </div>
</template>

<script>
import {getCpuAndMemoryUsage} from '@/api/home'
export default {
   data() {
    return {
      cpuusage:0,
      memoryusage:0,
      timer:null, //定时器名称
    }
  },
  created(){

  },
  mounted(){
    this.init()
    this.timer = setInterval(() => {
       setTimeout(this.init, 0)
   }, 1000*30)
  },
  beforeDestroy(){
    clearInterval(this.timer);
   this.timer = null;
},
  methods: {
     init() {
      getCpuAndMemoryUsage().then(res => {
        this.cpuusage = res.result.cpuusage
        this.memoryusage = res.result.memoryusage
      })
    },
  }
}
</script>

<style lang="scss" scoped>
.jiekou {
  padding:20px;
  .fkbg {
      background: #1c2233;
      box-shadow: 1px 2px 20px 0px rgba(0, 0, 0, 0.3);
      border-radius: 5px;
      .fkbgtitle {
        height: 60px;padding-left:20px;
        background: #242F41;
        color:#fff;font-size:20px;
        font-weight: bold;
        display:flex;
        align-items: center;
        .fkico {
          width: 4px;
          height: 20px;margin-right:10px;
          background: #0E8FE1;
        }
      }
      .disflex {
        display: flex; align-items: center;color:#fff;padding-left:100px;padding-right:30px;
        .cpuimg {
          width:200px;
        }
        .cpufont {
          width:270px;
          .cpufontnum {font-size:70px;color:#E7C13C;margin-bottom:10px;}
        }
        .loading {
          flex:1; display: flex; align-items: center; height:350px;
          .loading2 {
            background:url(../../assets/loading2.png) no-repeat;background-size:100% 100%;height:100px;position: relative;flex:1;
            .loading1 {
              background:url(../../assets/loading1.png) no-repeat;background-size:auto 100%;height:100px;position: absolute;top:0px;left:0px;
            }
          }
        }
      }
  }
}
</style>
