<template>
  <div class="jiekou">
      <div class="fkbg">
              <div class="fkbgtitle"><div class="fkico"></div>设备正面图</div>
              <div class="disflex">
                  <div class="sbtuleft">
                      <ul>
                          <li>名称：XXXXXXXXXXXXXXXXX</li>
                          <li>型号：XXXXXXXXXXX</li>
                      </ul>
                      <ul>
                          <li>规格：XXXXXXX</li>
                          <li>容量：XXXXXXX</li>
                      </ul>
                  </div>
                  <div class="sbturight">
                      <img src="../../assets/tu1.png" style="height:130px;">
                  </div>
              </div>
      </div>
       <div class="fkbg mar20">
              <div class="fkbgtitle"><div class="fkico"></div>设备背面图</div>
              <div class="disflex">
                  <div class="sbtuleft">
                      <ul>
                          <li>名称：XXXXXXXXXXXXXXXXX</li>
                          <li>型号：XXXXXXXXXXX</li>
                      </ul>
                      <ul>
                          <li>规格：XXXXXXX</li>
                          <li>容量：XXXXXXX</li>
                      </ul>
                  </div>
                  <div class="sbturight">
                      <img src="../../assets/tu2.png" style="height:130px;">
                  </div>
              </div>
      </div>
  </div>
</template>

<script>
export default {
   data() {
    return {

    }
  },
  created(){

  },
  mounted(){

  },
  beforeDestroy(){

},
  methods: {
  }
}
</script>

<style lang="scss" scoped>
.jiekou {
  padding:20px;
  .fkbg {
      background: #1c2233;
      box-shadow: 1px 2px 20px 0px rgba(0, 0, 0, 0.3);
      border-radius: 5px;
      .fkbgtitle {
        height: 60px;padding-left:20px;
        background: #242F41;
        color:#fff;font-size:20px;
        font-weight: bold;
        display:flex;
        align-items: center;
        .fkico {
          width: 4px;
          height: 20px;margin-right:10px;
          background: #0E8FE1;
        }
      }
      .disflex {
        display: flex;
        .sbtuleft {
          width:370px;
          ul {
             margin-top:30px;color:#fff;padding-left:30px;
             li {
               background:url(../../assets/li.png) left center no-repeat;padding-left:20px;line-height: 40px;
             }
          }
        }
        .sbturight {
          flex:1;
          display:flex;
          align-items: center;
          justify-content: center;
          height:350px;
           background: linear-gradient(0deg, #1B2234, #000000);
        }
      }
  }
}
</style>
