<template>
  <div class="equip">
      <el-row :gutter="40">
      <el-col :span="8">
          <div class="fkbg">
              <div class="fkbgtitle"><div class="fkico"></div>接口配置</div>
              <div class="fkimg"><img src="../../assets/ico1.png"></div>
              <el-button type="primary" class="fkbtn" @click="$router.push('/base/jiekou')">查看详情</el-button>
          </div>
      </el-col>
      <el-col :span="8">
          <div class="fkbg">
              <div class="fkbgtitle"><div class="fkico"></div>静态路由配置</div>
              <div class="fkimg"><img src="../../assets/ico2.png"></div>
              <el-button type="primary" class="fkbtn" @click="$router.push('/base/jtly')">查看详情</el-button>
          </div>
      </el-col>
       <el-col :span="8">
          <div class="fkbg">
              <div class="fkbgtitle"><div class="fkico"></div>应用配置</div>
              <div class="fkimg"><img src="../../assets/ico4.png"></div>
              <el-button type="primary" class="fkbtn" @click="$router.push('/base/yingyong')">查看详情</el-button>
          </div>
      </el-col>
    </el-row>
    <el-row style="margin-top:40px;" :gutter="40">
      <el-col :span="8">
          <div class="fkbg">
              <div class="fkbgtitle"><div class="fkico"></div>流组配置</div>
              <div class="fkimg"><img src="../../assets/ico5.png"></div>
              <el-button type="primary" class="fkbtn" @click="$router.push('/base/liuzhu')">查看详情</el-button>
          </div>
      </el-col>
       <el-col :span="8">
          <div class="fkbg">
              <div class="fkbgtitle"><div class="fkico"></div>QOS配置</div>
              <div class="fkimg"><img src="../../assets/ico3.png"></div>
              <el-button type="primary" class="fkbtn" @click="$router.push('/base/qos')">查看详情</el-button>
          </div>
      </el-col>
    </el-row>
  </div>
</template>
<script>
// import event from "./event"
export default {
  // components:{event},
   data() {
    return {

    }
  },
  created() {

  },
  methods: {
  }
}
</script>

<style lang="scss" scoped>
.equip {
padding:40px;
  .fkbg {
      height: 340px;
      background: #1c2233;
      box-shadow: 1px 2px 20px 0px rgba(0, 0, 0, 0.3);
      border-radius: 5px;
      .fkbgtitle {
        height: 60px;padding-left:20px;
        background: #242F41;
        color:#fff;
        font-weight: bold;
        display:flex;
        align-items: center;
        .fkico {
          width: 4px;
          height: 20px;margin-right:10px;
          background: #0E8FE1;
        }
      }
      .fkimg {
        display:flex;
        align-items: center;
        justify-content: center;
        height:200px;
      }
      .fkbtn {
         background: linear-gradient(0deg,#0064A4, #15A4FF);
      border: 1px solid;
      border-image: linear-gradient(0deg, #3099DB, #77CAFF) 1 1;width:170px;margin:0 auto;display:block;
      box-shadow: 0px 1px 1px 0px rgba(4, 0, 0, 0.8), 0px 0px 7px 0px rgba(0, 0, 0, 0.19);
      }
  }
}
</style>
