<template>
 <div class="bag">
     <div class="fkbgtitle"><div class="fkico"></div>抓包</div>

     <div class="fkbg" style="min-height:calc(100vh - 160px)">
         <!-- <ul class="tabmenu">
            <li :class="{active:act==0}" @click="tabClick(0)">MPTCP</li>
            <li :class="{active:act==1}" @click="tabClick(1)">五元组负载均衡</li>
        </ul> -->
        <div class="pad20">
            <div class="minheight" v-if="act==0">
              <div style="display:flex;">
                <div>
              <el-form ref="form" :rules="rules" :model="ruleForm" label-width="140px">
                  <el-form-item label="请选择抓包接口 ： " prop="jiekou">
                     <el-select style="width:310px" v-model="ruleForm.jiekou" placeholder="请选择">
                       <el-option v-for="(item,index) in InterfaceConfigList" :key="index" :label="item.interfaceName" :value="item.interfaceName"/>
                    </el-select>
                  </el-form-item>
                  <el-form-item  label="请输入抓包数量 ：  " prop="num">
                    <el-input style="width:310px" v-model="ruleForm.num" type="number" @blur="sumChange"></el-input>
                  </el-form-item>
              </el-form>
              <el-button :disabled="isok==false" class="savebtn" style="width:140px" @click="pacp">停止并下载</el-button>
                </div>
                <div style="margin-left:20px;display:flex; height:100px;align-items: center;">
                  <el-button :disabled="isok" class="savebtn" style="width:100px;height:100px;" @click="start">开始抓取</el-button>
                  <div class="djs">{{miao}}秒</div>
                </div>
              </div>
            </div>
             <!-- <div class="minheight" v-if="act==1">
              <el-form ref="form" label-width="140px">
                  <el-form-item label="请选择抓包接口 ： ">
                     <el-select style="width:310px" v-model="ruleForm.jiekou" placeholder="请选择">
                       <el-option v-for="(item,index) in InterfaceConfigList" :key="index" :label="item.interfaceName" :value="item.interfaceName"/>
                     </el-select>
                  </el-form-item>
                  <el-form-item  label="请输入抓包数量 ：  ">
                    <el-input style="width:310px" v-model="ruleForm.num"></el-input>
                  </el-form-item>
              </el-form>
              <el-button class="savebtn" style="width:140px" @click="pacp">抓取并下载</el-button>
            </div> -->
        </div>
    </div>
  </div>
</template>

<script>
import {getInterfaceConfig} from "@/api/basics";
import {getPacp,End,getVppStart,getVppEnd} from "@/api/pacp";
export default {
   data() {
    return {
      isok:false,
      miao:1,
      act:0,
      ruleForm:{
        jiekou:'',
        num:''
      },
      InterfaceConfigList:[],
      timer:null,
      rules: {
          jiekou: [
            { required: true, message: '请选择接口', trigger: 'change' }
          ],
          num: [
            { required: true, message: '请输入数量', trigger: 'blur' }
          ],
      }
    }
  },
  created() {
     this.getInterfaceConfig()
  },
  methods: {
    start(){
      this.$refs.form.validate((valid) => {
          if (valid) {
              getVppStart({iname:this.ruleForm.jiekou,packageSum:this.ruleForm.num}).then(res => {
                console.log(res)
              }),
              clearInterval(this.timer);
              this.timer = null;
              this.isok=true;
              this.timer = setInterval(() => {
                this.miao++;
              }, 1000);
          } else {
            console.log('error submit!!');
            return false;
          }
       });

    },
    sumChange(){
      if (this.ruleForm.num < 1 || this.ruleForm.num > 2147483647){
        this.ruleForm.num = 1
        this.$message({
          message: '请输入1-2147483647的数字',
          type: 'error'
        })
      }
    },
    tabClick(e){
      this.act=e
    },
    getInterfaceConfig() {
      getInterfaceConfig().then(res => {
        this.InterfaceConfigList = res.result
      })
    },
    pacp() {
       this.$refs.form.validate((valid) => {
          if (valid) {
              getVppEnd({iname:this.ruleForm.jiekou,packageSum:this.ruleForm.num}).then(res => {
                  const fileName = this.ruleForm.jiekou + '.pacp'
                  const _res = res.result
                  let blob = new Blob([_res])
                  let downloadElement = document.createElement("a")
                  let href = window.URL.createObjectURL(blob) //创建下载的链接
                  downloadElement.href = href
                  downloadElement.download = fileName //下载后文件名
                  document.body.appendChild(downloadElement)
                  downloadElement.click() //点击下载
                  document.body.removeChild(downloadElement) //下载完成移除元素
                  window.URL.revokeObjectURL(href) //释放掉blob对象
              }),
              clearInterval(this.timer);
              this.timer = null;
              this.isok=false;
          } else {
            console.log('error submit!!');
            return false;
          }
       });
      // getPacp(this.ruleForm.jiekou, this.ruleForm.num).then(res => {
      // getPacp('127.0.0.1', 2).then(res => {
      //   const fileName = 'vpp-' + res.timestamp + '.pacp'
      //   const _res = res.result
      //   let blob = new Blob([_res])
      //   let downloadElement = document.createElement("a")
      //   let href = window.URL.createObjectURL(blob) //创建下载的链接
      //   downloadElement.href = href
      //   downloadElement.download = fileName //下载后文件名
      //   document.body.appendChild(downloadElement)
      //   downloadElement.click() //点击下载
      //   document.body.removeChild(downloadElement) //下载完成移除元素
      //   window.URL.revokeObjectURL(href) //释放掉blob对象
      // })
    }
  },
  beforeRouteLeave (to, from, next) {
    if(this.isok==false){
      next();
      return;
    }
      this.$confirm('您可选择停止抓取并下载，或停止抓取', '提示', {
          confirmButtonText: '停止抓取并下载',
          cancelButtonText: '停止抓取',
          type: 'warning'
        }).then(() => {
            getVppEnd({iname:this.ruleForm.jiekou,packageSum:this.ruleForm.num}).then(res => {
                const fileName = this.ruleForm.jiekou + '.pacp'
                  const _res = res.result
                  let blob = new Blob([_res])
                  let downloadElement = document.createElement("a")
                  let href = window.URL.createObjectURL(blob) //创建下载的链接
                  downloadElement.href = href
                  downloadElement.download = fileName //下载后文件名
                  document.body.appendChild(downloadElement)
                  downloadElement.click() //点击下载
                  document.body.removeChild(downloadElement) //下载完成移除元素
                  window.URL.revokeObjectURL(href) //释放掉blob对象
              }),
          // this.$message({
          //   type: 'success',
          //   message: '停止抓取并下载!'
          // });
          next()
        }).catch(() => {
          End().then(res => {
                console.log(res)
          }),
          // this.$message({
          //   type: 'info',
          //   message: '停止抓取'
          // });
          next()
        });
  }
}
</script>

<style lang="scss">
.bag {
padding:20px;color:#fff;
.el-form-item__label {
    color:#fff;
  }
  .el-input__inner {
    background-color: #262f40;border:0px;color:#fff;
  }
}
.djs {font-size:30px;margin-left:20px;}
</style>
